{% extends 'base.html' %}

{% block title %}
    Finch List
{% endblock %}
{% block content %}
    <form>
        <div>
            <input type="text" name="name" placeholder="name" />
            <input type="submit" value="Search" />
        </div>
        <a href="{% url 'finch_list' %}">Clear Search</a>
        <a href='{% url "finch_create" %}'>Add Finch</a>
    </form>
    <h1>{{ header }}</h1>
    {% for finch in finches %}
    <img src="{{ finch.img }}" alt="{{ finch.name }}" />
    <a href='{% url "finch_detail" finch.pk %}'>
        <h3>Name: {{ finch.name }}</h3>
    </a>
    <h3>Age: {{ finch.age }}</h3>
    <h3>Family: {{ finch.family }}</h3>
    <p>Adopted By:
        <a href='/user/{{finch.user.username}}'>{{finch.user.username}}</a>
    </p>
    {% endfor %}
{% endblock %}
